/* Gruppo Font */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap"); /* Using this currently */
/* Urbanist Font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,900&display=swap");
/* MuseoModerno Font */
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap");
/* Gotu Font */
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
/* Josefin Slab Serif */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap");
:root {
  --backgroundColour: #1f1f1f;
  --headerFooterColor: #2f2f2f;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColour);
  scroll-behavior: smooth;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
  font-family: "Gruppo", sans-serif;
}

header {
  top: 0;
  border-bottom: 2px white solid;
}

footer {
  bottom: 0;
  border-top: 2px white solid;
}

.header-footer {
  z-index: 30;
  position: fixed;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 7px black;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.8s cubic-bezier(0.42, 0, 0.04, 0.99);
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  row-gap: 2vh;
}

.footer-content-wrapper a {
  color: white;
}

.how-to-link {
  font-weight: 600;
  font-size: 3.5vh;
}

.header-out {
  transform: translateY(-100%);
} /* JS Controlled Class*/
.footer-out {
  transform: translateY(100%);
} /* JS Controlled Class*/
.display-none {
  display: none !important;
} /* JS Controlled Class*/
.main-bg {
  z-index: -999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/bg.jpg");
  background-repeat: repeat;
  opacity: 0%;
  transform: scale(130%);
  transition: 0.8s cubic-bezier(0.42, 0, 0.04, 0.99) 0.3s;
}

.white-button {
  font-family: "Urbanist", sans-serif;
  color: white;
  font-size: 2.5vh;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 7px black;
  border-radius: 10px;
  border: 2px white solid;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.white-button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  cursor: pointer;
}

/* GENERICS  */
.white-hr {
  width: 6vh;
  border: 1px solid white;
  box-shadow: 0px 0px 7px black;
}

.setting {
  position: absolute;
  right: 3.5vh;
  top: 50%;
  width: 7vh;
  height: 7vh;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting .fa-solid {
  font-size: 4vh !important;
}

.language-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(130%);
  opacity: 0%;
  transition: 0.4s cubic-bezier(0.42, 0, 0.04, 0.99);
}
.language-modal .language-wrapper {
  padding: 4vh 4vh 2vh;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language-modal .language-wrapper .select-lang {
  font-family: "Urbanist", sans-serif;
  font-size: 4vh;
}
.language-modal .language-wrapper .lang-options {
  list-style: none;
  font-size: 2.5vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: center;
}
.language-modal .language-wrapper .lang-options .lang-option {
  padding: 2vh 10vh;
}

.language-modal-fade-in {
  transform: scale(100%);
  opacity: 100%;
}

label {
  font-family: "Gruppo", sans-serif;
  font-size: 2.5vh;
  padding: 0.5rem 0;
}

input {
  font-family: "Gruppo", sans-serif;
  color: white;
  font-size: 130%;
  box-shadow: 0px 0px 7px black;
  border-radius: 10px;
  border: 1px white solid;
  background-color: rgba(0, 0, 0, 0.72);
  height: 4vh;
  padding-left: 15px;
}

.create-title {
  font-size: 5vh;
}

.serif-title {
  position: relative;
  font-size: 6rem;
  font-weight: 400;
  font-family: "Josefin Slab", serif;
}

.basic-title {
  bottom: 0;
  right: -10%;
  position: absolute;
  font-size: 1.5rem;
  font-family: "Gruppo", sans-serif;
}

#playButton {
  margin-top: 4vh;
  height: 8vh;
  width: 24vh;
}

.login-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 30%;
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 7px black;
  border-radius: 10px;
  border: 2px white solid;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0%;
  transform: scale(70%);
  transition: 0.8s cubic-bezier(0.42, 0, 0.04, 0.99);
}

.box {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.alert-box {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-alert {
  margin-top: 4vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gruppo", sans-serif;
  font-size: 2.5vh;
  padding: 1vh;
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 7px black;
  border-radius: 10px;
  border: 2px yellow solid;
}

.fade-out {
  opacity: 0%;
  transform: scale(130%);
} /* JS Controlled Class*/
.fade-in {
  opacity: 100%;
  transform: scale(100%);
} /* JS Controlled Class*/
.lobby {
  position: fixed;
  box-sizing: border-box;
  padding: 14vh 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-shadow: 1px 1px 2px black;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  transition: 0.8s cubic-bezier(0.36, -0.23, 0.1, 1.01) 0.6s;
}

.lobby-title {
  bottom: 0;
  right: -10%;
  position: absolute;
  font-size: 1.5rem;
  font-family: "Gruppo", sans-serif;
}

.key {
  font-family: "Gruppo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vh;
  height: 8vh;
  min-width: 24vh;
}

.key:hover {
  background-color: white;
  color: black;
  text-shadow: none;
  cursor: pointer;
}

.key-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vh;
}

.key-wrapper img {
  position: relative;
  width: 3vh;
  transform: translateY(10%);
}

.key-wrapper h2 {
  font-size: 4vh;
}

.copy-link {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5vh;
}

.player-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.players {
  color: #b0b0b0;
  font-size: 4.2rem;
  width: 30%;
  transition: 0.8s cubic-bezier(0.42, 0, 0.04, 0.99);
  text-align: center;
  word-wrap: break-word;
}

.player-ready {
  color: yellow;
  transform: scale(1.15);
  text-shadow: yellow 0px 0px 30px;
} /* JS controlled Class */
#ready-button {
  height: 8vh;
  width: 24vh;
}

.versus {
  font-family: "Urbanist", sans-serif;
  transform: scale(0.65);
  width: 180px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  text-shadow: yellow 0px 0px 10px;
}

.versus-block {
  background-color: yellow;
  width: 100px;
  height: 8px;
  transform: rotate(-55deg);
}

.vvv {
  transform: translate(-30px, 15px);
  font-size: 70px;
}

.sss {
  transform: translate(30px, -15px);
  font-size: 70px;
}

.ready-button {
  width: 200px;
  height: 80px;
  margin: 1rem 0;
}

.ready-status {
  box-shadow: 0px 0px 20px yellow;
  background-color: #ffffff;
  color: #000000;
  text-shadow: none;
  transition: 0.4s ease;
} /* JS controlled Class */
@media only screen and (max-width: 768px) {
  .player-display {
    flex-direction: column;
  }
  .players {
    width: 100%;
    display: block;
  }
}
/* Cards Desk */
.desk-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  justify-content: flex-start;
  align-items: center;
  transform: scale(70%);
  opacity: 0%;
  transition: 0.8s cubic-bezier(0.36, 0, 0.1, 1.01);
}

.username {
  transform: scale(65%);
  font-size: 5vh;
  font-weight: 400;
  font-family: "Gruppo", sans-serif;
  transition: 0.5s cubic-bezier(0.42, 0, 0.04, 0.99);
}

.desk {
  background-color: var(--backgroundColor);
  margin-top: 3.5vh;
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  justify-content: flex-start;
  align-items: center;
  font-family: "Urbanist", sans-serif;
}

.hand {
  width: auto;
  gap: 15px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s linear;
}

#my-hand {
  pointer-events: none;
}

.draw-pile {
  position: relative;
  padding: 20px;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dealt-card-class {
  z-index: 10 !important;
}

.dealt-card-class:hover {
  cursor: default !important;
}

.card {
  position: relative;
  padding-top: 11vh;
  height: 17vh;
  width: 11vh;
  z-index: 30;
  text-align: center;
  font-size: 4vh;
  border-radius: 1.2vh;
  font-weight: 600;
  box-sizing: border-box;
  user-select: none;
  transition: box-shadow 0.6s cubic-bezier(0.36, -0.23, 0.1, 1.01), padding-top 0.4s cubic-bezier(0.36, -0.23, 0.1, 1.01), font-size 0.4s cubic-bezier(0.36, -0.23, 0.1, 1.01);
}

.card:hover {
  cursor: pointer;
}

.open {
  padding-top: 2vh;
  font-size: 11vh;
} /*JS Controlled Class*/
.closed {
  align-items: flex-end;
} /*JS Controlled Class*/
.selected {
  box-shadow: 0px 0px 20px yellow;
} /*JS Controlled Class*/
.correct {
  box-shadow: 0px 0px 40px rgb(34, 255, 0);
} /*JS Controlled Class*/
.wrong {
  box-shadow: 0px 0px 40px rgb(255, 60, 0);
} /*JS Controlled Class*/
.highlight-dealt-card {
  box-shadow: 0px 0px 30px rgb(108, 201, 255);
}

/* Picking */
.guess-array {
  z-index: 999;
  height: 7vh;
  display: flex;
  justify-content: center;
  transition: 0.5s cubic-bezier(0.42, 0, 0.04, 0.99);
  user-select: none;
}

.guess-button {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border: none;
  border-radius: 1vh;
  color: #000000;
  width: 8vh;
  height: 8vh;
  margin: 0 8px;
  font-size: 4vh;
  font-weight: 600;
  background: #ffffff;
  text-decoration: none;
  transition: 0.2s linear;
}

.guess-button:hover {
  cursor: pointer;
  background: #d6d6d6;
  text-decoration: none;
}

.guess-array-inactive {
  transform: scale(50%);
  opacity: 50%;
  transform-origin: 50% 0;
  pointer-events: none;
}

.guess-button-selected {
  box-shadow: 0px 0px 20px rgb(108, 201, 255);
}

.hand-container {
  border-radius: 20px;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 30vh;
  width: auto;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.my-hand-container {
  padding-bottom: 1vh;
  padding-top: 2vh;
}

.enemy-hand-container {
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.player-turn {
  transform: scale(100%);
  color: yellow;
  text-shadow: 0px 0px 20px yellow;
}

.guess-callout {
  top: 0;
  left: 0;
  position: absolute;
  padding: 2vh;
  height: 4vh;
  width: 4vh;
  border-radius: 0.5vh;
  box-sizing: border-box;
  font-size: 2vh;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transform: translate(calc(5.5vh - 50%), -110%);
}

.black {
  color: white;
  background-color: black;
}

.white {
  color: black;
  background-color: white;
}

.no-pointer-events {
  pointer-events: none;
}

.visibility-hidden {
  visibility: hidden;
} /* JS Controlled Class */
/* ATTACK AND HOLD */
.decision-wrapper {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, -50%);
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.42, 0, 0.04, 0.99);
}

.decision-wrapper:hover {
  transform: translate(0%, -50%) scale(120%);
}

.decision-image {
  width: 11vh;
  height: 11vh;
}

.attack {
  left: -100%;
}

.attack:hover {
  filter: drop-shadow(0px 0px 20px #ff3a3a);
}

.hold {
  right: -100%;
}

.hold:hover {
  filter: drop-shadow(0px 0px 20px rgb(108, 201, 255));
}

.hold .decision-text {
  margin-top: 5px;
}

.decision-inactive {
  pointer-events: none;
  opacity: 50%;
  transform: translate(0%, -50%) scale(90%);
}

.decision-fade-away {
  opacity: 0%;
  transform: translate(0%, -50%) scale(80%);
}

/* GAME RESULT MODAL  */
.fade-out {
  opacity: 0%;
  transform: scale(130%);
} /* JS Controlled Class*/
.fade-in {
  opacity: 100%;
  transform: scale(100%);
} /* JS Controlled Class*/
#settingsButton {
  top: auto;
  bottom: 3.5vh;
  transform: none;
}

.settings-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(130%);
  opacity: 0%;
  transition: 0.4s cubic-bezier(0.42, 0, 0.04, 0.99);
}
.settings-modal .settings-wrapper {
  padding: 4vh 4vh 2vh;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-modal .settings-wrapper .settings-title {
  font-family: "Urbanist", sans-serif;
  font-size: 4vh;
}
.settings-modal .settings-wrapper #closeButton {
  margin-top: 3vh;
  height: 5vh;
  width: 15vh;
}
.settings-modal .settings-wrapper .volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2vh;
  margin-top: 2vh;
  /*********** Generated and modified using https://range-input-css.netlify.app/ ************/
  /*********** Baseline, reset styles ***********/
  /* Removes default focus */
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  /* slider thumb */
  /*********** Firefox styles ***********/
  /* slider track */
  /* slider thumb */
}
.settings-modal .settings-wrapper .volume-wrapper .volume-icon-wrapper {
  width: 3vh;
  height: 3vh;
}
.settings-modal .settings-wrapper .volume-wrapper .volume-icon-wrapper .fa-solid {
  font-size: 3vh;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range] {
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 30vh;
  border: none;
  box-shadow: none;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]:focus {
  outline: none;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 10px;
  height: 1vh;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5vh;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  border-radius: 50px;
  height: 2vh;
  width: 2vh;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]:focus::-webkit-slider-thumb {
  outline: 3px solid #ffffff;
  outline-offset: 0.125rem;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]::-moz-range-thumb {
  background-color: #000000;
  border: none;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
}
.settings-modal .settings-wrapper .volume-wrapper input[type=range]:focus::-moz-range-thumb {
  outline: 3px solid #000000;
  outline-offset: 0.125rem;
}

.settings-modal-fade-in {
  transform: scale(100%);
  opacity: 100%;
}

.modal-game-result {
  z-index: 999;
  font-family: "Urbanist", sans-serif;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
  align-items: center;
  justify-content: center;
  transition: 0.5s cubic-bezier(0.42, 0, 0.04, 0.99);
  opacity: 0%;
  transform: scale(120%);
}

.game-result {
  color: white;
  font-size: 8vh;
  text-shadow: 3px 3px 5px black;
}

.game-won {
  text-shadow: 0px 0px 30px rgb(34, 255, 0);
}

.game-lost {
  text-shadow: 0px 0px 30px rgb(255, 60, 0);
}

.game-status {
  font-size: 3vh;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.stats-section {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 7px black;
  align-items: center;
  padding: 2vh;
  border-radius: 10px;
  border: 2px white solid;
  background-color: rgba(0, 0, 0, 0.2);
}

.stats-title {
  font-size: 2.5vh;
}

.game-stats {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vh;
  margin-top: 1.5vh;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stat-values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.head-to-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3vh;
}

.title-hth {
  font-size: 2.5vh;
}

.hth-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  font-size: 2.6vh;
  width: 100%;
}

.players-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.players-wins {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tie {
  text-shadow: 0px 0px 10px rgb(108, 201, 255);
}

.winning {
  text-shadow: 0px 0px 10px rgb(34, 255, 0);
}

.losing {
  text-shadow: 0px 0px 10px rgb(255, 60, 0);
}

#returnButton {
  height: 9vh;
  width: 27vh;
}

.modal-in {
  opacity: 100%;
  transform: scale(100%);
}

.how-to-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  width: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}

.how-to-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 8vh;
}

.title-logo {
  transform: translateY(-20%) scale(0.5);
}

.sorry {
  text-align: center;
  width: 50%;
}

.tut-here {
  color: white;
  text-shadow: 0px 0px 5px yellow;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
}

.oops-wrapper {
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;
}

.oops {
  font-size: 20vh;
}

.redirect-text {
  font-size: 2vh;
}

.click-here {
  text-decoration: none;
  color: yellow;
}

/*# sourceMappingURL=styles.css.map */
