<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Algo Basic - Engage &amp; Compete In A 1v1 Card Game Of Wits</title>

        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Algo Basic is a 1v1 Multiplayer Japanese Card game of wits. Guess all your opponents cards to reign victory! Originally a Card Game developed by the Mathematics Olympic Committee." />
        <meta name="keywords" content="playalgo, algo, basic, algo basic, card, cards, card game, 1v1, multiplayer, online, multiplayer card game, japanese, olympics, algorithm, friends, winner, guess, number, black, white" />
        <meta name="robots" content="index" />
        <link rel="author" href="https://github.com/notvalproate" />

        <!-- Social media share image (Open Graph & Twitter) -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Algo Basic - Engage & Compete In A 1v1 Card Game Of Wits" />
        <meta property="og:url" content="https://playalgo.com/" />
        <meta property="og:description" content="Algo Basic is a 1v1 Multiplayer Japanese Card game of wits. Guess all your opponents cards to reign victory! Originally a Card Game developed by the Mathematics Olympic Committee." />
        <meta property="og:site_name" content="Algo Basic - Engage & Compete In A 1v1 Card Game Of Wits" />
        <meta property="og:image" content="/assets/images/thumbnail.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Algo Basic - Engage & Compete In A 1v1 Card Game Of Wits" />
        <meta name="twitter:description" content="Algo Basic is a 1v1 Multiplayer Japanese Card game of wits. Guess all your opponents cards to reign victory! Originally a Card Game developed by the Mathematics Olympic Committee." />
        <meta name="twitter:image" content="/assets/images/thumbnail.png" />

        <!-- Favicons (Courtesy of https://realfavicongenerator.net/) -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
        <link rel="manifest" href="/assets/favicons/site.webmanifest" />
        <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type="text/css" href="/dev/css/styles.css" />

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquerykeyframes@1.0.8/dist/jquery.keyframes.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.12.0/tsparticles.confetti.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/howler@2.2.4/dist/howler.min.js"></script>
    </head>

    <body></body>
</html>
