<%- include('./partials/_header'); %>

<div class="main-bg fade-in"></div>

<section class="how-to-wrapper">
    <div class="title-wrapper">
        <h1 class="how-to-title">HOW TO PLAY</h1>
        <hr class="white-hr">
        <h1 class="title-logo"><span class="serif-title">algo<span class="basic-title">Basic</span></span></h1>
    </div>
</section>

<script src="/js/howto.js"></script>

<%- include('./partials/_footer'); %>