<%- include('./partials/_header'); %>

<div class="wrapper">
    
    <div class="main-bg fade-in"></div>
    
    <section class="how-to-wrapper">
        <div class="title-wrapper">
            <h1 class="how-to-title">HOW TO PLAY</h1>
            <hr class="white-hr">
            <h1 class="title-logo"><span class="serif-title">algo<span class="basic-title">Basic</span></span></h1>
        </div>
        <div class="sorry">
            <h1>Our how to play page is currently under development, Sorry for the inconvenience.<br><br>At the moment there are only Japanese tutorials online, Although you can use Google Translate on the page to translate it to english and understand the rules <a href="https://www.sansu-olympic.gr.jp/algo/how/howto.htm" class="tut-here">here</a></h1>
        </div>
    </section>

</div>

<script src="/js/howto.js"></script>

<%- include('./partials/_footer'); %>