<%- include('./partials/_header'); %>

<header>
    <h1 class="title">ALGO</h1>
</header>

<div class="login-box">
    <div class="login">
        <h2 class="title">Login</h2>
        <form action="/" method="POST">
            <div class="box">
                <label>Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="box">
                <label>Key</label>
                <input type="text" name="roomKey" id="roomKey" required>
            </div>
            <button class="button" id="playButton">PLAY!</button>
        </form>
    </div>
</div>

<footer>
    <h3>&copy; 2023 - ALGO</h3>
</footer>

<%- include('./partials/_footer'); %>