/* Gruppo Font */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); /* Using this currently */

/* Urbanist Font */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,900&display=swap');

/* MuseoModerno Font */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

/* Gotu Font */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #b0b0b0;
    overflow-x: hidden;
    font-family: 'Gruppo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
}

label {
    font-family: 'Gruppo', sans-serif;
    font-size: x-large;
    padding: 0.5rem 0;
}

input {
    border: none;
    border-radius: 5px;
    outline: none;
    height: 2rem;
    background-color: #afafaf;
    color: #000000;
    font-size: 100%;
    padding: 0 7px; 
}

header {
    width: 100%;
    height: auto;
    background-color: #2f2f2f;
    padding: 20px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.login {
    max-width: 40rem;
    max-height: 50rem;
    width: 60%;
    height: 70%;
    background-color: #2f2f2f;
    padding: 4rem 3rem;
    border-radius: 10px;
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    padding: 0.5rem 0;
}

.button {
    width: 40%;
    height: 3rem;
    background-color: #5f5f5f;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 4rem 0;
    cursor: pointer;
}

.alert-box {
    width: 100%;
    height: 2rem;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*play page stuff */

.board{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-board{
    width: 60vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.key{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.key h1{
    font-size: 100px;
}

.key img{
    position: relative;
    height: 80px;
    width: 80px;
    transform: translateY(10%);
}

.player-display{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.players{
    max-height: 200px;
    min-width: 1%;
    max-width:20% ;
}

.players h1{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: 60px;
    transition: transform 0.3s ease-in-out;
}

.versus{
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
}

.versus-block{
    background-color: yellow;
    width: 100px;
    height: 8px;
    transform: rotate(-55deg);
    
}

.vvv{
    transform: translate(-30px,15px);
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.sss{
    transform: translate(30px,-15px);
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.ready-button{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    background-color: rgb(176,176,176);
    width: 200px;
    height: 80px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 30px;
    border: none;
    transition: transform 0.3s ease;
}

.ready-button:hover {
    transform: scale(1.1);
}


