/* Gruppo Font */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); /* Using this currently */

/* Urbanist Font */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,900&display=swap');

/* MuseoModerno Font */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

/* Gotu Font */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root{
    --backgroundColour: #1f1f1f;
    --headerFooterColor: #2f2f2f;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColour);
    color: #b0b0b0;
    overflow-x: hidden;
    font-family: 'Gruppo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 150%;
    padding: 0.5rem 0;
}

label {
    font-family: 'Gruppo', sans-serif;
    font-size: x-large;
    padding: 0.5rem 0;
}

input {
    border: none;
    border-radius: 5px;
    outline: none;
    height: 2rem;
    background-color: #afafaf;
    color: #000000;
    font-size: 100%;
    padding: 0 7px; 
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 1vh;
    background-color: var(--headerFooterColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s cubic-bezier(.36,-0.23,.1,1.01) 0.6s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--headerFooterColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s cubic-bezier(.36,-0.23,.1,1.01) 0.6s;
}

.header-out {
    transform: translateY(-100%);
} /* JS Controlled Class*/

.footer-out {
    transform: translateY(100%);
} /* JS Controlled Class*/

.display-none {
    display: none !important;
} /* JS Controlled Class*/


/* index.ejs page stuff */

.login-box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    max-width: 40rem;
    width: 60%;
    height: 50%;
    background-color: var(--headerFooterColor);
    padding: 4rem 3rem;
    border-radius: 10px;
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-size: 3rem;
}

.button {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    width: 40%;
    height: 3rem;
    background-color: rgb(200, 200, 200);
    border: none;
    font-size: 130%;
    border-radius: 10px;
    outline: none;
    margin: 4rem 0;
    cursor: pointer;
    box-shadow: yellow 3px 3px;
    transition: 0.6s cubic-bezier(.36,-0.23,.1,1.01);
}

.button:hover {
    transform: scale(1.05);
    background-color: yellow !important;
    box-shadow: none;
    cursor: pointer;
}

.alert-box {
    width: 100%;
    height: 2rem;
    background-color: var(--headerFooterColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-alert {
    width: 100%;
    height: auto;
    background-color: #ffff00bb;
    color: #090909;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*play.ejs page stuff */

/* Waiting Lobby */
.board{
    margin-top: 10vh;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.8s cubic-bezier(.36,-0.23,.1,1.01) 0.6s;
}

.fade-out {
    opacity: 0%;
    transform: scale(50%);
} /* JS Controlled Class*/

.key{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
}

.key img{
    position: relative;
    height: 50px;
    width: 50px;
    transform: translateY(15%);
}

.player-display{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.players{
    font-size: 4.2rem;
    width: 30%;
    transition: 0.8s cubic-bezier(.42,0,.04,.99);
    text-align: center;
    word-wrap: break-word;
}

.player-ready {
    color: yellow;
    transform: scale(1.15);
    text-shadow: yellow 0px 0px 30px;
} /* JS controlled Class */

.versus{
    transform: scale(0.65);
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    text-shadow: yellow 0px 0px 10px;
}

.versus-block{
    background-color: yellow;
    width: 100px;
    height: 8px;
    transform: rotate(-55deg); 
}

.vvv{
    transform: translate(-30px,15px);
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.sss{
    transform: translate(30px,-15px);
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.ready-button{
    width: 200px;
    height: 80px;
    margin: 1rem 0;
}

.ready-status {
    background-color: #ffffff;
    color: #000000;
    box-shadow: none;
} /* JS controlled Class */

@media only screen and (max-width: 768px) {
    .player-display {
        flex-direction: column;
    }

    .players {
        width: 100%;
        display: block;
    }
}


/* Cards Desk */
.desk{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(50%);
    opacity: 0%;
    background-color: var(--backgroundColour);
    transition: 0.8s cubic-bezier(.36,-0.23,.1,1.01);
}

.fade-in {
    opacity: 100%;
    transform: scale(100%);
} /* JS Controlled Class*/

.inner-desk{
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    
}

.deck{
    height: 25%;
    width: auto;
    gap: 15px;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pick-deck{
    height: 25%;
    width: 130px;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    background-color: #ffffff;
    height: 90%;
    width: 130px;
    border-radius: 10px;
}

.served-card {
    height: 90%;
    width: 130px;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} /*JS Controlled Class*/