.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 100svh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
}

.oops-wrapper {
    font-family: 'Urbanist', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 5svh;
}

.oops {
    font-size: 20svh;
}

.redirect-text {
    font-size: 2svh;
}

.click-here {
    text-decoration: none;
    color: yellow;
}