/* Cards Desk */
.desk-wrapper {
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 2svh;
    justify-content: flex-start;
    align-items: center;
    transform: scale(70%);
    opacity: 0%;
    transition: 0.8s cubic-bezier(.36,.0,.1,1.01);
}

.username {
    transform: scale(65%);
    font-size: 5svh;
    font-weight: 400;
    font-family: 'Gruppo', sans-serif;
    transition: 0.5s cubic-bezier(.42,0,.04,.99);
}

.desk {
    background-color: var(--backgroundColor);
    margin-top: 3.5svh;
    height: 80svh;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 3svh;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
}

.hand {
    width: auto;
    gap: 15px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s linear;
}

#my-hand {
    pointer-events: none;
}

.draw-pile {
    position: relative;
    padding: 20px;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dealt-card-class {
    z-index: 10 !important;
}

.dealt-card-class:hover {
    cursor: default !important;
}

.card{
    position: relative;
    padding-top: 11svh;
    height: 17svh;
    width: 11svh;
    z-index: 30;
    text-align: center;
    font-size: 4svh;
    border-radius: 1.2svh;
    font-weight: 600;
    box-sizing: border-box;
    user-select: none;
    transition: 
    box-shadow 0.6s cubic-bezier(.36, -0.23, .1, 1.01), 
    padding-top 0.4s cubic-bezier(.36, -0.23, .1, 1.01),
    font-size 0.4s cubic-bezier(.36, -0.23, .1, 1.01);
}

.card:hover {
    cursor: pointer;
}

.open {
    padding-top: 2svh;
    font-size: 11svh;
} /*JS Controlled Class*/

.closed {
    align-items: flex-end;
} /*JS Controlled Class*/

.selected {
    box-shadow: 0px 0px 20px yellow;
} /*JS Controlled Class*/

.correct {
    box-shadow: 0px 0px 40px rgb(34, 255, 0);
} /*JS Controlled Class*/

.wrong {
    box-shadow: 0px 0px 40px rgb(255, 60, 0);
} /*JS Controlled Class*/

.highlight-dealt-card {
    box-shadow: 0px 0px 30px rgb(108, 201, 255);
}

/* Picking */
.guess-array {
    z-index: 999;
    height: 7svh;
    display: flex;
    justify-content: center;
    transition: 0.5s cubic-bezier(.42,0,.04,.99);
    user-select: none;
}

.guess-button {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border: none;
    border-radius: 1svh;
    color: #000000;
    width: 8svh;
    height: 8svh;
    margin: 0 8px;
    font-size: 4svh;
    font-weight: 600;
    background: #ffffff;
    text-decoration: none;
    transition: 0.2s linear;
}

.guess-button:hover {
    cursor: pointer;
    background: #d6d6d6;
    text-decoration: none;
}

.guess-array-inactive {
    transform: scale(50%);
    opacity: 50%;
    transform-origin: 50% 0;
    pointer-events: none;
}

.guess-button-selected {
    box-shadow: 0px 0px 20px rgb(108, 201, 255);
}

.hand-container {
    border-radius: 20px;
    padding-left: 2svh;
    padding-right: 2svh;
    height: 30svh;
    width: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.my-hand-container {
    padding-bottom: 1svh;
    padding-top: 2svh;
}

.enemy-hand-container {
    padding-top: 1svh;
    padding-bottom: 2svh;
}

.player-turn {
    transform: scale(100%);
    color: yellow;
    text-shadow: 0px 0px 20px yellow;
}

.guess-callout {
    top: 0;
    left: 0;
    position: absolute;
    padding: 2svh;
    height: 4svh;   
    width: 4svh;
    border-radius: 0.5svh;
    box-sizing: border-box;
    font-size: 2svh;
    font-weight: 600;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 999;
    animation: calloutAnim 2s cubic-bezier(.48,.01,.49,.99) infinite;
}

.black {
    color: white;
    background-color: black;
}

.white {
    color: black;
    background-color: white;
}

.no-pointer-events {
    pointer-events: none;
}

.visibility-hidden {
    visibility: hidden;
} /* JS Controlled Class */


/* ATTACK AND HOLD */

.decision-wrapper {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, -50%);
    cursor: pointer;
    transition: 0.4s cubic-bezier(.42,0,.04,.99);
}

.decision-wrapper:hover {
    transform: translate(0%, -50%) scale(120%);
}

.decision-image {
    width: 11svh;
    height: 11svh;
}

.attack {
    left: -100%;
}

.attack:hover {
    filter: drop-shadow(0px 0px 20px #ff3a3a);
}

.hold {
    right: -100%;
}

.hold:hover {
    filter: drop-shadow(0px 0px 20px rgb(108, 201, 255));
}

.hold .decision-text {
    margin-top: 5px;
}

.decision-inactive {
    pointer-events: none;
    opacity: 50%;
    transform: translate(0%, -50%) scale(90%);
}

.decision-fade-away {
    opacity: 0%;
    transform: translate(0%, -50%) scale(80%);
}

/* GAME RESULT MODAL  */

.fade-out {
    opacity: 0%;
    transform: scale(130%);
} /* JS Controlled Class*/

.fade-in {
    opacity: 100%;
    transform: scale(100%);
} /* JS Controlled Class*/

#settingsButton {
    top: auto;
    bottom: 3.5svh;
    transform: none;
}

@media only screen and (max-width: 1024px) {
    .card{
        padding-top: 5.5svh;
        height: 8.5svh;
        width: 5.5svh;
        font-size: 2svh;
        border-radius: 0.6svh;
        font-weight: 600;
    }
    
    .open {
        padding-top: 1svh;
        font-size: 5.5svh;
    }

    .guess-callout {
        padding: 1.25svh;
        height: 2.5svh;   
        width: 2.5svh;
        border-radius: 0.32svh;
        font-size: 1.25svh;
        font-weight: 600;
        animation: calloutAnimMob 2s cubic-bezier(.48,.01,.49,.99) infinite;
    }
}

@keyframes calloutAnimMob {
    0% {
        transform: translate(calc(2.75vh - 50%), -110%),
    }
    50% {
        transform: translate(calc(2.75vh - 50%), -140%),
    }
    100% {
        transform: translate(calc(2.75vh - 50%), -110%),
    }
}

@keyframes calloutAnim {
    0% {
        transform: translate(calc(5.5vh - 50%), -110%),
    }
    50% {
        transform: translate(calc(5.5vh - 50%), -140%),
    }
    100% {
        transform: translate(calc(5.5vh - 50%), -110%),
    }
}