.language-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    transform: scale(130%);
    opacity: 0%;
    transition: 0.4s cubic-bezier(.42,0,.04,.99);

    .language-wrapper {
        padding: 4svh 4svh 2svh;
        border: 2px solid white;
        border-radius: 10px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;

        .select-lang {
            font-family: 'Urbanist', sans-serif;
            font-size: 4svh;
        }

        .lang-options {
            list-style: none;
            font-size: 2.5svh;
            padding: 0;
            display: flex;
            flex-direction: column;
            row-gap: 1svh;
            align-items: center;

            .lang-option {
                padding: 2svh 10svh;
            }
        }
    }
}

.language-modal-fade-in {
    transform: scale(100%);
    opacity: 100%;
}

@media only screen and (max-width: 1024px) {
    #languageButton {
        border-radius: 1svh;
        width: 4svh;
        height: 4svh;
        top: 2svh;
        right: 2svh;
        transform: none;

        .fa-solid {
            font-size: 2.5svh !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .language-modal {
        .language-wrapper {
            padding: 3svh 3svh 2svh;
    
            .select-lang {
                font-family: 'Urbanist', sans-serif;
                font-size: 3svh;
            }
        }
    }
}