.modal-game-result {    
    z-index: 999;
    font-family: 'Urbanist', sans-serif;
    height: 100svh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    row-gap: 2.5svh;
    align-items: center;
    justify-content: center;
    transition: 0.5s cubic-bezier(.42,0,.04,.99);
    opacity: 0%;
    transform: scale(120%);
}

.game-result {
    color: white;
    font-size: 8svh;
    text-shadow: 3px 3px 5px black;
}

.game-won {
    text-shadow: 0px 0px 30px rgb(34, 255, 0);
}

.game-lost {
    text-shadow: 0px 0px 30px rgb(255, 60, 0);
}

.game-status {
    font-size: 3svh;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.stats-section {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 0px 7px black;
    align-items: center;
    padding: 2svh;
    border-radius: 10px;
    border: 2px white solid;
    background-color: rgba(0,0,0,0.2);
}

.stats-title {
    font-size: 2.5svh;
}

.game-stats {
    font-size: 2svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35svh;
    margin-top: 1.5svh;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-values {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.head-to-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3svh;
}

.title-hth {
    font-size: 2.5svh;
}

.hth-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1svh;
    font-size: 2.6svh;
    width: 100%;
}

.players-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.players-wins {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tie {
    text-shadow: 0px 0px 10px rgb(108, 201, 255);
}

.winning {
    text-shadow: 0px 0px 10px rgb(34, 255, 0);
}

.losing {
    text-shadow: 0px 0px 10px rgb(255, 60, 0);
}

#returnButton {
    height: 9svh;
    width: 27svh;
}

.modal-in {
    opacity: 100%;
    transform: scale(100%);
}